@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 62, 5%;
  scroll-behavior: smooth; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

/* para evitar aparezca sector blanco al lado derecho */
h1 {
  font-family: oswald, sans-serif;
  font-weight: 700;
  color: #373435; }

h2,
h3,
h4,
h5 {
  font-family: oswald, sans-serif;
  font-weight: 600; }

p {
  font-family: Roboto, sans-serif;
  font-weight: 400; }

nav {
  background-color: rgba(228, 228, 228, 0.5); }

.animated {
  animation-name: nav-animated;
  transition-property: background-color;
  animation-timing-function: linear;
  animation-duration: 2.5s; }

@keyframes nav-animated {
  0% {
    background: none;
    width: 100vw; }
  2% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 3%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  4% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 2%, rgba(87, 87, 87, 0.5) 9%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  6% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 3%, rgba(87, 87, 87, 0.5) 14%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  8% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 4%, rgba(87, 87, 87, 0.5) 21%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  10% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 6%, rgba(87, 87, 87, 0.5) 26%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  12% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 7%, rgba(87, 87, 87, 0.5) 31%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  14% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 9%, rgba(87, 87, 87, 0.5) 35%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  16% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 11%, rgba(87, 87, 87, 0.5) 42%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  18% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 13%, rgba(87, 87, 87, 0.5) 47%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  20% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 15%, rgba(87, 87, 87, 0.5) 52%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  22% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 17%, rgba(87, 87, 87, 0.5) 57%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  24% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 19%, rgba(87, 87, 87, 0.5) 64%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  26% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 21%, rgba(87, 87, 87, 0.5) 69%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  28% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 24%, rgba(87, 87, 87, 0.5) 74%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  30% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 27%, rgba(87, 87, 87, 0.5) 79%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  31% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 30%, rgba(87, 87, 87, 0.5) 83%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  32% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 35%, rgba(87, 87, 87, 0.5) 88%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  34% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 39%, rgba(87, 87, 87, 0.5) 91%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  36% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 43%, rgba(87, 87, 87, 0.5) 93%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  37% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 53%, rgba(87, 87, 87, 0.5) 95%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  39% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 64%, rgba(87, 87, 87, 0.5) 97%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  41% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 66%, rgba(87, 87, 87, 0.5) 100%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  43% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 64%, rgba(87, 87, 87, 0.5) 97%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  44% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 53%, rgba(87, 87, 87, 0.5) 95%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  45% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 43%, rgba(87, 87, 87, 0.5) 93%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  47% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 39%, rgba(87, 87, 87, 0.5) 91%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  48% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 35%, rgba(87, 87, 87, 0.5) 88%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  50% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 30%, rgba(87, 87, 87, 0.5) 83%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  51% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 27%, rgba(87, 87, 87, 0.5) 79%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  52% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 24%, rgba(87, 87, 87, 0.5) 74%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  54% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 21%, rgba(87, 87, 87, 0.5) 69%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  56% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 19%, rgba(87, 87, 87, 0.5) 64%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  57% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 17%, rgba(87, 87, 87, 0.5) 57%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  59% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 15%, rgba(87, 87, 87, 0.5) 52%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  61% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 13%, rgba(87, 87, 87, 0.5) 47%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  62% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 11%, rgba(87, 87, 87, 0.5) 42%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  64% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 9%, rgba(87, 87, 87, 0.5) 35%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  68% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 7%, rgba(87, 87, 87, 0.5) 31%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  70% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 6%, rgba(87, 87, 87, 0.5) 26%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  72% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 4%, rgba(87, 87, 87, 0.5) 21%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  74% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 3%, rgba(87, 87, 87, 0.5) 14%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  76% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 2%, rgba(87, 87, 87, 0.5) 10%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  78% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 8%, rgba(228, 228, 228, 0.5) 100%);
    width: 100vw; }
  80% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 7%, rgba(228, 228, 228, 0.5) 90%);
    width: 100vw; }
  83% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 5%, rgba(228, 228, 228, 0.5) 80%);
    width: 100vw; }
  86% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 4%, rgba(228, 228, 228, 0.5) 70%);
    width: 100vw; }
  88% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 3%, rgba(228, 228, 228, 0.5) 60%);
    width: 100vw; }
  90% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 2%, rgba(228, 228, 228, 0.5) 50%);
    width: 100vw; }
  92% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 1%, rgba(228, 228, 228, 0.5) 40%);
    width: 100vw; }
  95% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 1%, rgba(228, 228, 228, 0.5) 30%);
    width: 100vw; }
  96% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 0%, rgba(228, 228, 228, 0.5) 20%);
    width: 100vw; }
  98% {
    background: linear-gradient(150deg, rgba(55, 55, 55, 0.5) 0%, rgba(87, 87, 87, 0.5) 0%, rgba(228, 228, 228, 0.5) 10%);
    width: 100vw; }
  100% {
    background: none;
    width: 100vw; } }
  .animated .container-fluid a img {
    width: 21rem; }
    @media (min-width: 768px) {
      .animated .container-fluid a img {
        width: 22rem; } }
    @media (min-width: 992px) {
      .animated .container-fluid a img {
        width: 23rem; } }
    @media (max-width: 433px) {
      .animated .container-fluid a img {
        width: 14rem; } }
    @media (max-width: 324px) {
      .animated .container-fluid a img {
        width: 12rem; } }
    @media (max-width: 319px) {
      .animated .container-fluid a img {
        width: 11rem; } }
    @media (max-width: 275px) {
      .animated .container-fluid a img {
        width: 8rem; } }
    @media (max-width: 273px) {
      .animated .container-fluid a img {
        width: 7rem; } }
  .animated .container-fluid a h1 {
    color: #373435;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      .animated .container-fluid a h1 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      .animated .container-fluid a h1 {
        font-size: 1.9rem; } }
    @media (max-width: 275px) {
      .animated .container-fluid a h1 {
        font-size: 0.4rem; } }
    @media (max-width: 298px) {
      .animated .container-fluid a h1 {
        font-size: 0.6rem; } }
    @media (max-width: 433px) {
      .animated .container-fluid a h1 {
        font-size: 0.8rem; } }
  .animated .container-fluid div ul li .dark {
    color: #373435;
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .animated .container-fluid div ul li .dark {
        font-size: 1.2rem; } }
    @media (min-width: 992px) {
      .animated .container-fluid div ul li .dark {
        font-size: 1.4rem; }
        .animated .container-fluid div ul li .dark:hover {
          background-color: #f4329b;
          cursor: pointer;
          transition: 0.6s; }
        .animated .container-fluid div ul li .dark:active {
          background-color: #56f0a9;
          cursor: pointer; } }

@media (max-width: 576px) {
  header .header__image--flex {
    display: flex;
    flex-direction: column; } }

header .header__image--flex .head1 {
  height: 10vh; }

.pie__all--bglight {
  background-color: dimgray;
  background-image: url(../assets/imagenes/contacto/transp.png); }
  .pie__all--bglight footer #redes h2 {
    padding-top: 0.5rem;
    color: #e4e4e4;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      .pie__all--bglight footer #redes h2 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      .pie__all--bglight footer #redes h2 {
        font-size: 1.8rem; } }
  .pie__all--bglight footer a .icon-size {
    width: 9%; }
    @media (min-width: 768px) {
      .pie__all--bglight footer a .icon-size {
        width: 5%; } }
    @media (min-width: 992px) {
      .pie__all--bglight footer a .icon-size {
        width: 4%; } }
  .pie__all--bglight footer .info__boton--cambios {
    text-decoration: none;
    color: #e4e4e4;
    margin-left: 1rem;
    font-family: Roboto, sans-serif; }

main .bio__img--flex {
  background-color: #b4b4b4; }
  main .bio__img--flex div div a .bio__titulo--locationcolor {
    color: #4b4b4b;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main .bio__img--flex div div a .bio__titulo--locationcolor {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main .bio__img--flex div div a .bio__titulo--locationcolor {
        font-size: 1.8rem; } }
  main .bio__img--flex div div .bio__text--modif {
    color: #4b4b4b;
    font-size: 0.8rem;
    line-height: 1.2rem; }
    @media (min-width: 768px) {
      main .bio__img--flex div div .bio__text--modif {
        font-size: 1rem;
        line-height: 1.4rem; } }
    @media (min-width: 992px) {
      main .bio__img--flex div div .bio__text--modif {
        font-size: 1.2rem;
        line-height: 1.6rem; } }

main section .cv__all--bgdarkplus {
  background-color: #8c8c8c; }
  main section .cv__all--bgdarkplus div a #cv-titulo-positioncolor {
    color: #c3c3c3;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main section .cv__all--bgdarkplus div a #cv-titulo-positioncolor {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main section .cv__all--bgdarkplus div a #cv-titulo-positioncolor {
        font-size: 1.8rem; } }
  main section .cv__all--bgdarkplus .p__titulo--caract {
    color: #c3c3c3;
    font-size: 0.8rem;
    margin-left: 1.8rem; }
    @media (max-width: 576px) {
      main section .cv__all--bgdarkplus .p__titulo--caract {
        margin-left: 1.2rem; } }
    @media (min-width: 768px) {
      main section .cv__all--bgdarkplus .p__titulo--caract {
        font-size: 1.2rem;
        margin-left: 2.5rem; } }
    @media (min-width: 992px) {
      main section .cv__all--bgdarkplus .p__titulo--caract {
        font-size: 1.4rem;
        margin-left: 2.7rem; } }
  main section .cv__all--bgdarkplus div p {
    color: #c3c3c3;
    font-size: 0.8rem;
    line-height: 1.2rem; }
    @media (min-width: 768px) {
      main section .cv__all--bgdarkplus div p {
        font-size: 1rem;
        line-height: 1.4rem; } }
    @media (min-width: 992px) {
      main section .cv__all--bgdarkplus div p {
        font-size: 1.2rem;
        line-height: 1.6rem; } }

main .veintedos__all--bg1 .btn .boton__galeria--cualidades1, main .veinteuno__all--bg2 .btn .boton__galeria--cualidades2, main .veinte__all--bg3 .btn .boton__galeria--cualidades3, main .dieznueve__all--bg4 .btn .boton__galeria--cualidades4, main .diezocho__all--bg5 .btn .boton__galeria--cualidades5, main .diezsiete__all--bg6 .btn .boton__galeria--cualidades6, main .diezseis__all--bg7 .btn .boton__galeria--cualidades7, main .video__all--bg8 .btn .boton__galeria--cualidades8 {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  text-align: center; }
  main .veintedos__all--bg1 .btn .boton__galeria--cualidades1:hover, main .veinteuno__all--bg2 .btn .boton__galeria--cualidades2:hover, main .veinte__all--bg3 .btn .boton__galeria--cualidades3:hover, main .dieznueve__all--bg4 .btn .boton__galeria--cualidades4:hover, main .diezocho__all--bg5 .btn .boton__galeria--cualidades5:hover, main .diezsiete__all--bg6 .btn .boton__galeria--cualidades6:hover, main .diezseis__all--bg7 .btn .boton__galeria--cualidades7:hover, main .video__all--bg8 .btn .boton__galeria--cualidades8:hover {
    cursor: pointer; }
  @media (min-width: 992px) {
    main .veintedos__all--bg1 .btn .boton__galeria--cualidades1, main .veinteuno__all--bg2 .btn .boton__galeria--cualidades2, main .veinte__all--bg3 .btn .boton__galeria--cualidades3, main .dieznueve__all--bg4 .btn .boton__galeria--cualidades4, main .diezocho__all--bg5 .btn .boton__galeria--cualidades5, main .diezsiete__all--bg6 .btn .boton__galeria--cualidades6, main .diezseis__all--bg7 .btn .boton__galeria--cualidades7, main .video__all--bg8 .btn .boton__galeria--cualidades8 {
      font-size: 1.2rem;
      margin-bottom: 3rem; } }

@media (min-width: 768px) {
  main section div div .img-left:hover {
    transform: translateX(70px) scale(1.5);
    transition: 0.4s;
    cursor: pointer; } }

@media (min-width: 768px) {
  main section div div .img-right:hover {
    transform: translateX(-70px) scale(1.5);
    transition: 0.4s;
    cursor: pointer; } }

@media (min-width: 992px) {
  main section div div .imagenes-center:hover {
    transform: scale(1.5);
    transition: 0.4s;
    cursor: pointer; } }

@media (min-width: 992px) {
  main section div div .imagenes-left:hover {
    transform: translateX(80px) scale(1.5);
    transition: 0.4s;
    cursor: pointer; } }

@media (min-width: 992px) {
  main section div div .imagenes-right:hover {
    transform: translateX(-80px) scale(1.5);
    transition: 0.4s;
    cursor: pointer; } }

main .veintedos__all--bg1 {
  background-color: #d8d8d8; }
  main .veintedos__all--bg1 a .uno__titulo--caract, main .veintedos__all--bg1 .veinteuno__all--bg2 a .dos__titulo--caract, main .veinteuno__all--bg2 .veintedos__all--bg1 a .dos__titulo--caract, main .veintedos__all--bg1 .veinte__all--bg3 a .tres__titulo--caract, main .veinte__all--bg3 .veintedos__all--bg1 a .tres__titulo--caract, main .veintedos__all--bg1 .dieznueve__all--bg4 a .cuatro__titulo--caract, main .dieznueve__all--bg4 .veintedos__all--bg1 a .cuatro__titulo--caract, main .veintedos__all--bg1 .diezocho__all--bg5 a .cinco__titulo--caract, main .diezocho__all--bg5 .veintedos__all--bg1 a .cinco__titulo--caract, main .veintedos__all--bg1 .diezsiete__all--bg6 a .seis__titulo--caract, main .diezsiete__all--bg6 .veintedos__all--bg1 a .seis__titulo--caract, main .veintedos__all--bg1 .diezseis__all--bg7 a .siete__titulo--caract, main .diezseis__all--bg7 .veintedos__all--bg1 a .siete__titulo--caract, main .veintedos__all--bg1 .video__all--bg8 a .ocho__titulo--caract, main .video__all--bg8 .veintedos__all--bg1 a .ocho__titulo--caract {
    font-size: 1.2rem;
    color: #5f5f5f; }
    @media (min-width: 768px) {
      main .veintedos__all--bg1 a .uno__titulo--caract, main .veintedos__all--bg1 .veinteuno__all--bg2 a .dos__titulo--caract, main .veinteuno__all--bg2 .veintedos__all--bg1 a .dos__titulo--caract, main .veintedos__all--bg1 .veinte__all--bg3 a .tres__titulo--caract, main .veinte__all--bg3 .veintedos__all--bg1 a .tres__titulo--caract, main .veintedos__all--bg1 .dieznueve__all--bg4 a .cuatro__titulo--caract, main .dieznueve__all--bg4 .veintedos__all--bg1 a .cuatro__titulo--caract, main .veintedos__all--bg1 .diezocho__all--bg5 a .cinco__titulo--caract, main .diezocho__all--bg5 .veintedos__all--bg1 a .cinco__titulo--caract, main .veintedos__all--bg1 .diezsiete__all--bg6 a .seis__titulo--caract, main .diezsiete__all--bg6 .veintedos__all--bg1 a .seis__titulo--caract, main .veintedos__all--bg1 .diezseis__all--bg7 a .siete__titulo--caract, main .diezseis__all--bg7 .veintedos__all--bg1 a .siete__titulo--caract, main .veintedos__all--bg1 .video__all--bg8 a .ocho__titulo--caract, main .video__all--bg8 .veintedos__all--bg1 a .ocho__titulo--caract {
        padding-top: 1rem;
        font-size: 1.8rem; } }
  main .veintedos__all--bg1 .btn {
    border-color: #5f5f5f; }
    main .veintedos__all--bg1 .btn .boton__galeria--cualidades1 {
      color: #5f5f5f; }

main .veinteuno__all--bg2 {
  background-color: #cccccc; }
  main .veinteuno__all--bg2 a .dos__titulo--caract {
    color: #7d7d7d; }
  main .veinteuno__all--bg2 .btn {
    border-color: #7d7d7d; }
    main .veinteuno__all--bg2 .btn .boton__galeria--cualidades2 {
      color: #7d7d7d; }

main .veinte__all--bg3 {
  background-color: silver; }
  main .veinte__all--bg3 a .tres__titulo--caract {
    color: #878787; }
  main .veinte__all--bg3 .btn {
    border-color: #878787; }
    main .veinte__all--bg3 .btn .boton__galeria--cualidades3 {
      color: #878787; }

main .dieznueve__all--bg4 {
  background-color: #b4b4b4; }
  main .dieznueve__all--bg4 a .cuatro__titulo--caract {
    color: #919191; }
  main .dieznueve__all--bg4 .btn {
    border-color: #919191; }
    main .dieznueve__all--bg4 .btn .boton__galeria--cualidades4 {
      color: #919191; }

main .diezocho__all--bg5 {
  background-color: #a8a8a8; }
  main .diezocho__all--bg5 a .cinco__titulo--caract {
    color: #c8c8c8; }
  main .diezocho__all--bg5 .btn {
    border-color: #c8c8c8; }
    main .diezocho__all--bg5 .btn .boton__galeria--cualidades5 {
      color: #c8c8c8; }

main .diezsiete__all--bg6 {
  background-color: #9c9c9c; }
  main .diezsiete__all--bg6 a .seis__titulo--caract {
    color: #d2d2d2; }
  main .diezsiete__all--bg6 .btn {
    border-color: #d2d2d2; }
    main .diezsiete__all--bg6 .btn .boton__galeria--cualidades6 {
      color: #d2d2d2; }

main .diezseis__all--bg7 {
  background-color: #909090; }
  main .diezseis__all--bg7 a .siete__titulo--caract {
    color: gainsboro; }
  main .diezseis__all--bg7 .btn {
    border-color: gainsboro; }
    main .diezseis__all--bg7 .btn .boton__galeria--cualidades7 {
      color: gainsboro; }

main .video__all--bg8 {
  background-color: #828282; }
  main .video__all--bg8 a .ocho__titulo--caract {
    color: #e6e6e6; }
  main .video__all--bg8 .video-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly; }
    main .video__all--bg8 .video-flex .video {
      width: 70vw;
      height: 50vh; }
      @media (min-width: 768px) {
        main .video__all--bg8 .video-flex .video {
          width: 80vw;
          height: 70vh; } }
      @media (min-width: 992px) {
        main .video__all--bg8 .video-flex .video {
          width: 70vw;
          height: 85vh; } }
  main .video__all--bg8 .btn {
    border-color: #e6e6e6; }
    main .video__all--bg8 .btn .boton__galeria--cualidades8 {
      color: #e6e6e6; }

main .text__propio--all {
  background-color: silver; }
  main .text__propio--all section a h2 {
    color: #5a5a63;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main .text__propio--all section a h2 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main .text__propio--all section a h2 {
        font-size: 1.8rem; } }
  main .text__propio--all section h3 {
    color: #5a5a63;
    font-size: 1rem; }
    @media (min-width: 768px) {
      main .text__propio--all section h3 {
        font-size: 1.4rem; } }
    @media (min-width: 992px) {
      main .text__propio--all section h3 {
        font-size: 1.6rem; } }
  main .text__propio--all section p {
    color: #5a5a63;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    line-height: 1rem; }
    @media (min-width: 768px) {
      main .text__propio--all section p {
        font-size: 1rem;
        line-height: 1.4rem; } }
    @media (min-width: 992px) {
      main .text__propio--all section p {
        font-size: 1.2rem;
        line-height: 1.6rem; } }

main .text__otros--all {
  background-color: #787878; }
  main .text__otros--all section a h2 {
    color: #cdcdcd;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main .text__otros--all section a h2 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main .text__otros--all section a h2 {
        font-size: 1.8rem; } }
  main .text__otros--all section article h3 {
    color: #cdcdcd;
    font-size: 1rem; }
    @media (min-width: 768px) {
      main .text__otros--all section article h3 {
        font-size: 1.4rem; } }
    @media (min-width: 992px) {
      main .text__otros--all section article h3 {
        font-size: 1.6rem; } }
    main .text__otros--all section article h3 .text__link--color {
      color: #2c2f5c;
      text-decoration: none;
      font-size: 0.6rem;
      width: 80vw; }
      @media (min-width: 768px) {
        main .text__otros--all section article h3 .text__link--color {
          font-size: 0.8rem; } }
      @media (min-width: 992px) {
        main .text__otros--all section article h3 .text__link--color {
          font-size: 1.4rem; } }
  main .text__otros--all section article h4 {
    color: #cdcdcd;
    font-size: 0.8rem; }
    @media (min-width: 768px) {
      main .text__otros--all section article h4 {
        font-size: 1.2rem; } }
    @media (min-width: 992px) {
      main .text__otros--all section article h4 {
        font-size: 1.4rem; } }
  main .text__otros--all section article p {
    color: #cdcdcd;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    line-height: 1rem; }
    @media (min-width: 768px) {
      main .text__otros--all section article p {
        font-size: 1rem;
        line-height: 1.4rem; } }
    @media (min-width: 992px) {
      main .text__otros--all section article p {
        font-size: 1.2rem;
        line-height: 1.6rem; } }
    main .text__otros--all section article p .subt__text--block {
      display: block; }

main .contact__bg--1 {
  background-color: #bebebe; }
  main .contact__bg--1 a h2 {
    color: #3c3c3c;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main .contact__bg--1 a h2 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main .contact__bg--1 a h2 {
        font-size: 1.8rem; } }
  main .contact__bg--1 section form {
    font-family: Roboto, sans-serif; }
    main .contact__bg--1 section form .color-boton {
      margin-left: 1rem;
      background-color: #ebebeb; }
    main .contact__bg--1 section form .form-control {
      background-color: #ebebeb; }

main .map__bg--2 {
  background-color: #8c8c8c; }
  main .map__bg--2 a h2 {
    color: #5f5f5f;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      main .map__bg--2 a h2 {
        font-size: 1.6rem; } }
    @media (min-width: 992px) {
      main .map__bg--2 a h2 {
        font-size: 1.8rem; } }
  main .map__bg--2 .map__map--flex {
    width: 90vw; }
    @media (min-width: 768px) {
      main .map__bg--2 .map__map--flex {
        width: 70vw;
        height: 40vw; } }
    @media (min-width: 992px) {
      main .map__bg--2 .map__map--flex {
        width: 30vw;
        height: 40vh; } }
  main .map__bg--2 .map__img--flex {
    width: 60vw; }
    @media (min-width: 768px) {
      main .map__bg--2 .map__img--flex {
        width: 40vw; } }
    @media (min-width: 992px) {
      main .map__bg--2 .map__img--flex {
        width: 20vw; } }

@media (max-width: 304px) {
  nav .nav__logo--ajuste {
    width: 8rem; } }

@media (max-width: 432px) {
  nav .nav__logo--ajuste {
    width: 13rem; } }

@media (max-width: 576px) {
  .map__flex {
    display: flex;
    flex-direction: column; } }

.back__especial--404 {
  background-image: url(../assets/imagenes/404/gl5.webp);
  background-repeat: repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .back__especial--404 {
      background-image: url(../assets/imagenes/404/gl4.webp);
      background-repeat: repeat;
      background-size: contain; } }
  @media (min-width: 992px) {
    .back__especial--404 {
      background-image: url(../assets/imagenes/404/gl1.webp);
      background-repeat: repeat;
      background-size: cover; } }
  .back__especial--404 main section {
    display: flex;
    justify-content: center;
    margin-top: 4rem; }
    @media (min-width: 768px) {
      .back__especial--404 main section {
        margin-top: 8rem;
        margin-right: 2rem; } }
    .back__especial--404 main section .color-fondo {
      background-color: rgba(228, 228, 228, 0.9);
      display: inline-block;
      padding: 2rem; }
      @media (min-width: 768px) {
        .back__especial--404 main section .color-fondo {
          padding: 5rem; } }
      .back__especial--404 main section .color-fondo h1 {
        color: #373435;
        font-size: 1.6rem; }
        @media (min-width: 768px) {
          .back__especial--404 main section .color-fondo h1 {
            font-size: 1.8rem; } }
        @media (min-width: 992px) {
          .back__especial--404 main section .color-fondo h1 {
            font-size: 1.9rem; } }
      .back__especial--404 main section .color-fondo p {
        color: #373435;
        font-size: 0.8rem; }
        @media (min-width: 768px) {
          .back__especial--404 main section .color-fondo p {
            font-size: 1rem; } }
        @media (min-width: 992px) {
          .back__especial--404 main section .color-fondo p {
            font-size: 1.2rem; } }
  .back__especial--404 div {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    margin-top: 12rem; }
    @media (min-width: 768px) {
      .back__especial--404 div {
        margin-right: 1rem;
        margin-top: 7rem; } }
    @media (min-width: 992px) {
      .back__especial--404 div {
        margin-top: 3rem; } }
    .back__especial--404 div footer {
      background-color: rgba(228, 228, 228, 0.8);
      padding: 1.2rem;
      display: inline-block;
      border-radius: 0.6rem; }
      .back__especial--404 div footer a {
        font-family: Roboto, sans-serif;
        text-decoration: none;
        color: #3a2740;
        font-weight: 700; }
