 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  scroll-behavior: smooth;
}

html,
body{
  max-width: 100%;
  overflow-x: hidden;
}    /* para evitar aparezca sector blanco al lado derecho */

h2, 
h3, 
h4,
h5{
  font-family: oswald, sans-serif;
  font-weight: 600;
}

h2{
  font-size: 2.5rem;
  padding-left: 1.1rem;
}

h3{
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

h4{
  font-size: 1.2rem;
  padding-left: 1.8rem;
}

p{
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  padding: 1rem 15rem 1.5rem 1.7rem;
}


@keyframes nav-animated{
  0%{background: none; width:100vw;}
  2%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 3%, rgba(228,228,228,0.5) 100%); width:100vw;}
  4%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 2%, rgba(87,87,87,0.5) 9%, rgba(228,228,228,0.5) 100%); width:100vw;}
  6%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 3%, rgba(87,87,87,0.5) 14%, rgba(228,228,228,0.5) 100%); width:100vw;}
  8%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 4%, rgba(87,87,87,0.5) 21%, rgba(228,228,228,0.5) 100%); width:100vw;}
  10%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 6%, rgba(87,87,87,0.5) 26%, rgba(228,228,228,0.5) 100%); width:100vw;}
  12%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 7%, rgba(87,87,87,0.5) 31%, rgba(228,228,228,0.5) 100%); width:100vw;}
  14%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 9%, rgba(87,87,87,0.5) 35%, rgba(228,228,228,0.5) 100%); width:100vw;}
  16%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 11%, rgba(87,87,87,0.5) 42%, rgba(228,228,228,0.5) 100%); width:100vw;}
  18%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 13%, rgba(87,87,87,0.5) 47%, rgba(228,228,228,0.5) 100%); width:100vw;}
  20%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 15%, rgba(87,87,87,0.5) 52%, rgba(228,228,228,0.5) 100%); width:100vw;}
  22%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 17%, rgba(87,87,87,0.5) 57%, rgba(228,228,228,0.5) 100%); width:100vw;}
  24%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 19%, rgba(87,87,87,0.5) 64%, rgba(228,228,228,0.5) 100%); width:100vw;}
  26%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 21%, rgba(87,87,87,0.5) 69%, rgba(228,228,228,0.5) 100%); width:100vw;}
  28%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 24%, rgba(87,87,87,0.5) 74%, rgba(228,228,228,0.5) 100%); width:100vw;}
  30%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 27%, rgba(87,87,87,0.5) 79%, rgba(228,228,228,0.5) 100%); width:100vw;}
  31%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 30%, rgba(87,87,87,0.5) 83%, rgba(228,228,228,0.5) 100%); width:100vw;}
  32%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 35%, rgba(87,87,87,0.5) 88%, rgba(228,228,228,0.5) 100%); width:100vw;}
  34%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 39%, rgba(87,87,87,0.5) 91%, rgba(228,228,228,0.5) 100%); width:100vw;}
  36%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 43%, rgba(87,87,87,0.5) 93%, rgba(228,228,228,0.5) 100%); width:100vw;}
  37%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 53%, rgba(87,87,87,0.5) 95%, rgba(228,228,228,0.5) 100%); width:100vw;}
  39%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 64%, rgba(87,87,87,0.5) 97%, rgba(228,228,228,0.5) 100%); width:100vw;}
  41%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 66%, rgba(87,87,87,0.5) 100%, rgba(228,228,228,0.5) 100%); width:100vw;}
  43%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 64%, rgba(87,87,87,0.5) 97%, rgba(228,228,228,0.5) 100%); width:100vw;}
  44%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 53%, rgba(87,87,87,0.5) 95%, rgba(228,228,228,0.5) 100%); width:100vw;}
  45%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 43%, rgba(87,87,87,0.5) 93%, rgba(228,228,228,0.5) 100%); width:100vw;}
  47%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 39%, rgba(87,87,87,0.5) 91%, rgba(228,228,228,0.5) 100%); width:100vw;}
  48%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 35%, rgba(87,87,87,0.5) 88%, rgba(228,228,228,0.5) 100%); width:100vw;}
  50%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 30%, rgba(87,87,87,0.5) 83%, rgba(228,228,228,0.5) 100%); width:100vw;}
  51%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 27%, rgba(87,87,87,0.5) 79%, rgba(228,228,228,0.5) 100%); width:100vw;}
  52%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 24%, rgba(87,87,87,0.5) 74%, rgba(228,228,228,0.5) 100%); width:100vw;}
  54%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 21%, rgba(87,87,87,0.5) 69%, rgba(228,228,228,0.5) 100%); width:100vw;}
  56%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 19%, rgba(87,87,87,0.5) 64%, rgba(228,228,228,0.5) 100%); width:100vw;}
  57%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 17%, rgba(87,87,87,0.5) 57%, rgba(228,228,228,0.5) 100%); width:100vw;}
  59%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 15%, rgba(87,87,87,0.5) 52%, rgba(228,228,228,0.5) 100%); width:100vw;}
  61%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 13%, rgba(87,87,87,0.5) 47%, rgba(228,228,228,0.5) 100%); width:100vw;}
  62%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 11%, rgba(87,87,87,0.5) 42%, rgba(228,228,228,0.5) 100%); width:100vw;}
  64%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 9%, rgba(87,87,87,0.5) 35%, rgba(228,228,228,0.5) 100%); width:100vw;}
  68%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 7%, rgba(87,87,87,0.5) 31%, rgba(228,228,228,0.5) 100%); width:100vw;}
  70%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 6%, rgba(87,87,87,0.5) 26%, rgba(228,228,228,0.5) 100%); width:100vw;}
  72%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 4%, rgba(87,87,87,0.5) 21%, rgba(228,228,228,0.5) 100%); width:100vw;}
  74%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 3%, rgba(87,87,87,0.5) 14%, rgba(228,228,228,0.5) 100%); width:100vw;}
  76%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 2%, rgba(87,87,87,0.5) 10%, rgba(228,228,228,0.5) 100%); width:100vw;}
  78%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 8%, rgba(228,228,228,0.5) 100%); width:100vw;}
  80%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 7%, rgba(228,228,228,0.5) 90%); width:100vw;}
  83%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 5%, rgba(228,228,228,0.5) 80%); width:100vw;}
  86%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 4%, rgba(228,228,228,0.5) 70%); width:100vw;}
  88%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 3%, rgba(228,228,228,0.5) 60%); width:100vw;}
  90%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 2%, rgba(228,228,228,0.5) 50%); width:100vw;}
  92%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 1%, rgba(228,228,228,0.5) 40%); width:100vw;}
  95%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 1%, rgba(228,228,228,0.5) 30%); width:100vw;}
  96%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 0%, rgba(228,228,228,0.5) 20%); width:100vw;}
  98%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 0%, rgba(228,228,228,0.5) 10%); width:100vw;}
  100%{background: none; width:100vw;}
} 

.animated{
  animation-name: nav-animated;
  transition-property: background-color;
  animation-timing-function: linear;
  animation-duration: 2.5s;
}


                              /* -------- MOBILE FIRST-------- */

                              /* ======Cambios Grales=======*/
  
  
  nav{
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    nav img{
      width: 21rem;
      cursor: pointer; 
    }
    
        nav ul{
          list-style: none;
          margin-top: 1rem;
          margin-right: 1.2rem;
        }
          
            nav ul li{
              display: inline;
              margin-right: 0.2rem;
            }

              ul li a:hover{
                background-color: rgb(244, 50, 155);
                cursor: pointer;
                transition: 0.6s;
              }
    
                ul li a:active{
                  background-color: rgb(86,240, 169);
                  cursor: pointer;
                }
    
                nav ul li a{
                  text-decoration: none;
                  color: rgb(55, 52, 53);
                  font-family: oswald, san serif;
                  font-weight: 400;
                  font-size: 0.9rem;
                  margin: 0.3rem;
                } 

                nav .listagral__nav--cambios{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  width: 80vw;
                }

                nav .especial{
                  color: rgb(244, 50, 155);
                  font-family: oswald, san serif;
                  font-weight: 400;
                  font-size: 0.9rem;
                  margin: 0,3rem;
                }
      

h1{
font-family: oswald, sans-serif;
font-weight: 700;
font-size: 1.3rem;
color: rgb(55, 52, 53);
padding-bottom: 0.2rem;
margin-right: 2rem;
margin-bottom: 1rem;
}

    nav ol{
      list-style: none;                           
      margin-top: 1rem;
      margin-bottom: 1.3rem;
      margin-right: 1.2rem;
    }
      
      nav ol li{
        display: inline;
      }
        ol li:hover{
          background-color: rgb(244, 50, 155);
          cursor: pointer;
          transition: 0.6s;
        }

        ol li:active{
          background-color:rgb(86, 240, 169);
          cursor: pointer; 
        }

          nav ol li a{
              text-decoration: none;
              color: rgb(55, 52, 53);
              font-family: oswald, san serif;
              font-weight: 400;
              font-size: 0.9rem;
              margin: 0.3rem;
          }


footer h2{
  padding-top: 0.5rem;
  color: rgb(228, 228, 228);
  font-size: 1rem;
}

.pie__icon--size{
  width: 9%;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.pie__all--bglight{
  background-color: rgb(105, 105, 105);
  background-image: url(../assets/imagenes/contacto/transp.png);
}



                                         /* ===INDEX=== */

.header__image--flex{
  display: flex;
  flex-direction: column;
}              

.head{
  width: 100vw;
  margin: none;
}

.head1{
  width: 100vw;
  height: 10vw;
  margin: none;
}


                                        /* ===BIO===  */

.bio__img--flex{
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 180, 180);
}  

.bio__titulo--locationcolor{
  padding-top: 1rem;
  color: rgb(75, 75, 75);
  font-size: 1.7rem;
}

.bio__text--modif{ 
  color: rgb(75, 75, 75);
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 80vw;
  height: auto;
}

.bio__img--right{
  height: auto;
  width: 100vw;
}

#cv-titulo-positioncolor{
  padding-top: 1rem;
  color: rgb(195, 195, 195);
  font-size: 1.7rem;
} 
    /* si a este último no lo pongo en id no me lo toma ¿? */

.cv__all--bgdarkplus{
  background-color: rgb(140, 140, 140);
  padding-bottom: 1rem;
}

.cv__all--bgdarkplus p{
  color: rgb(195, 195, 195);
  font-size: 1.3rem;
  line-height: 1.5em;
}


    
    
                                    /*========OBRAS========*/

.gal__img--2022,
.gal__img--2021,
.gal__img--2020,
.gal__img--2019,
.gal__img--2018,
.gal__img--2017,
.gal__img--2016,
.gal__video--all{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  width: 85vw;
  margin:1.5rem;
}

.video{
  width: 85vw;
  height: 70vh;
  margin: 1.5rem 2rem ;
}

h2{
  padding-top: 1rem;
  font-size: 1.7rem;
}

.veintedos__all--bg1{
  background-color: rgb(216, 216, 216);  
  color: rgb(95, 95, 95);
}

.veinteuno__all--bg2{
  background-color: rgb(204, 204, 204);
  color: rgb(144, 144, 144);
}

.veinte__all--bg3{
  background-color: rgb(192, 192, 192);
  color: rgb(156, 156, 156);
}

.dieznueve__all--bg4{
  background-color: rgb(180, 180, 180);
  color: rgb(160, 160, 160);
}

.diezocho__all--bg5{
  background-color: rgb(168, 168, 168);
  color: rgb(190, 190, 190);
}

.diezsiete__all--bg6{
  background-color: rgb(156, 156, 156);
  color:rgb(192, 192, 192);
}

.diezseis__all--bg7 {
  background-color: rgb(144, 144, 144);
  color: rgb(204, 204, 204);
}

.video__all--bg8 {
  background-color: rgb(130, 130, 130);
  color: rgb(216, 216, 216);
}

.veintedos__all--bg1 .boton__galeria--cualidades,
.veinteuno__all--bg2 .boton__galeria--cualidades,
.veinte__all--bg3 .boton__galeria--cualidades,
.dieznueve__all--bg4 .boton__galeria--cualidades,
.diezocho__all--bg5 .boton__galeria--cualidades,
.diezsiete__all--bg6 .boton__galeria--cualidades,
.diezseis__all--bg7 .boton__galeria--cualidades,
.video__all--bg8 .boton__galeria--cualidades{
  font-family: oswald, san serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(55, 52, 53);
  margin-left: 1rem;
}




                          /* =============TEXTO================ */

h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.5rem;
}
.text__propio--all{
  background-color: rgb(192, 192, 192);
  color: rgb(90, 90, 90);
}

.text__propio--all p{
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 80vw;
}

.text__otros--all{
  background-color: rgb(120, 120, 120);
  color: rgb(205, 205, 205);
}

.text__otros--all p{
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 80vw;
}

.text__link--color{
  color: rgb(44, 47, 92);
  text-decoration: none;
  font-size: 0.9rem ;
  width: 80vw;
}

.subt__text--block{
  display: block;
}

                            /*===========CONTACTO==========*/
.form__content--flex,
.map__content--flex{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
}

form{
  font-family: roboto, sans-serif;
  width: 40vw;
  margin: 2rem;
}

.contact__img--flex{
  width: 70vw;
  height: auto;
  margin: 2rem;
}

.map__map--flex{
  width: 90;
  margin: 2rem; 
}

.map__img--flex{
  width: 60vw;
  margin: 2rem; 
} 

.contact__bg--1{
  background-color: rgb(190, 190, 190);
  color: rgb(60, 60, 60);
  line-height: 1.7rem;
}

.map__bg--2{
  background-color: rgb(140, 140, 140);
  color: rgb(95, 95, 95)
}

.color{
background-color: rgb(220, 220, 220);
  color: rgb(50, 50, 50);
}

.boton{
  margin-left: 2rem;
}

.derecha{
  margin-left: 2rem;
}

            /* =============MEDIA QUEERIES  768px============= */

@media (min-width: 768px){

                      /*========CAMBIOS GRALES 768px========== */
                      

  nav{
    align-items: flex-start;
    }

    nav img{
      width: 30rem;
      margin-left: 1rem;
    }

      
      nav ul li a{
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0.3rem;
        margin-left: 1.3rem;
      }
      
      nav ol li a{
        font-size: 1.3rem;
        margin-left: 1.2rem;
        font-weight: 600;
      }

      nav .especial{
        color: rgb(244, 50, 155);
        font-family: oswald, san serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin-left: 1.3rem;
      }


        nav .listagral__nav--cambios{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }

h1{
font-size: 2rem;
padding-bottom: 0.2rem;
margin-left: 2rem;
}

footer h2{
  padding-top: 1rem;
  font-size: 1.75rem;
}

.pie__icon--size{
  width: 5%;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
}
  
                            /* =========INDEX 768px========*/


.header__image--flex{
  display: flex;
  flex-direction: row-reverse; 
} 

.head{
  width: 80vw;
}

.head1{
  width: 20vw;
  height: auto;
}  

  
                                /* ========BIO 768px======= */

.bio__img--flex{           
  display: flex;
  flex-direction: column-reverse;
} 

.bio__titulo--locationcolor{
  font-size: 2rem;
}

.bio__text--modif{
  font-size: 1rem;
  width: 78vw;
  margin-left: 2rem;
}  

#cv-titulo-positioncolor{
  font-size: 2rem;
}

.cv__all--bgdarkplus p{
  font-size: 1rem ;
  margin-left: 2rem;
}


                              /*==========OBRAS 768px==========*/
.gal__img--2022,
.gal__img--2021,
.gal__img--2020,
.gal__img--2019,
.gal__img--2018,
.gal__img--2017,
.gal__img--2016,
.gal__video--all{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-left,
.img-right{
  width: 41vw;
  height: auto;
  margin: 1.5rem;
  margin-bottom: 2rem;
}
.video{
  width: 35vw;
  height: 42vh;
}

h2{
  padding-top: 1rem;
  font-size: 2rem;
}

.veintedos__all--bg1 .boton__galeria--cualidades,
.veinteuno__all--bg2 .boton__galeria--cualidades,
.veinte__all--bg3 .boton__galeria--cualidades,
.dieznueve__all--bg4 .boton__galeria--cualidades,
.diezocho__all--bg5 .boton__galeria--cualidades,
.diezsiete__all--bg6 .boton__galeria--cualidades,
.diezseis__all--bg7 .boton__galeria--cualidades,
.video__all--bg8 .boton__galeria--cualidades{
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

                     /* ======animacion 760px========= */
.img-left:hover{
  transform: translateX(70px) scale(1.5);
  transition: 0.4s;
  cursor: pointer;
}

.img-right:hover{
  transform: translateX(-70px) scale(1.5);
  transition: 0.4s;
  cursor: pointer;
}

                              /* ========TEXTO 768px========== */

h2{
  padding-top: 1rem;
  font-size: 2rem;
}

h3{
  font-size: 1.8rem;
}
.text__propio--all p{
  font-size: 1rem;

}

.text__otros--all p{
  font-size: 1rem;
}


.text__link--color{
  font-size: 0.7rem ;
}

                          /* ============CONTACTO 768px========= */

.form__content--flex{
  display: flex;
  flex-direction: row;
}

form{
  width: 40vw;
  margin: 2rem 4rem;
}

.contact__img--flex{
  width: 50vw;
  height: auto;
  margin: 2rem 3rem;
}

.map__map--flex{
  width: 70vw;
  height: 40vw;
  margin: 2rem 4.5rem;
}

.map__img--flex{
  width: 40vw;
  margin: 2rem 4.5rem;
}

}    /* cierre d media queerie 768 no borrar */


                        /*=========MEDIA QUEERIES 1024px=======*/

@media (min-width: 1024px){


                       /* ========CAMBIOS GRALES 1024px======== */
      nav img{
        width: 38rem;
        margin-top: 0.6rem;
        margin-left: 2rem;
        margin-bottom: 0.3rem;
      }

        nav ul li a{
          font-size: 1.5rem;
          margin-left: 1rem;
        }

          nav .especial{
            font-size: 1.5rem;}

    nav ol li a{
      margin-left: 1rem;
      margin-top: 1rem;
      font-size: 1.5rem;
    }

h1{
  font-size: 3rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.listagral__nav--cambios{
  position: relative;
  right: -39rem;
} 

footer h2{
  padding-top: 1.5rem;
}

.pie__icon--size{
  width: 2.8%;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}


                             /* ===========INDEX 1024px======= */


.header__image--flex{
  display: flex;
  flex-direction: row;
}

.head{
  width: 70vw;
}

.head1{
  width: 30vw;
  height: auto;
}


                                  /* ========BIO 1024px======*/

.bio__img--flex{
  flex-direction: row;
}

.bio__text--bgdark{
  width: 55vw;
}

.bio__img--right{
  width: 45vw;
  align-self: center;
}

.bio__titulo--locationcolor{
  font-size: 2.5rem;
  padding-left: 1.1rem;
}

.bio__text--modif{
  width: 35vw;
  margin-top: 1.5rem;
  margin-left: 3rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

#cv-titulo-positioncolor{
  font-size: 2.5rem;
  padding-left: 1.1rem;
}

.cv__all--bgdarkplus p{
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
}


                          /*============OBRAS 1024px=========*/

.gal__img--2022,
.gal__img--2021,
.gal__img--2020,
.gal__img--2019,
.gal__img--2018,
.gal__img--2017,
.gal__img--2016{
justify-content: space-evenly;
align-content: center;
}

.gal__video--all{
  justify-content: center;
  align-items: center;
}

.imagenes-left,
.imagenes-center,
.imagenes-right{
  width: 28vw;
}
.video{
  width: 70vw;
  height: 85vh;
  margin: 3rem 2rem;
}

.veintedos__all--bg1 .boton__galeria--cualidades,
.veinteuno__all--bg2 .boton__galeria--cualidades,
.veinte__all--bg3 .boton__galeria--cualidades,
.dieznueve__all--bg4 .boton__galeria--cualidades,
.diezocho__all--bg5 .boton__galeria--cualidades,
.diezsiete__all--bg6 .boton__galeria--cualidades,
.diezseis__all--bg7 .boton__galeria--cualidades,
.video__all--bg8 .boton__galeria--cualidades{
  font-size: 1.3rem;
}

              /* =======animaciones1024px======== */

.imagenes-center:hover{
  transform: scale(1.5);
  transition: 0.4s;
  cursor: pointer;
}

.imagenes-left:hover{
  transform: translateX(80px) scale(1.5);
  transition: 0.4s;
  cursor: pointer;
}

.imagenes-right:hover{
  transform: translateX(-80px) scale(1.5);
  transition: 0.4s;
  cursor: pointer;
}


                            /* ===========TEXTOS 1024px==========*/

h2{
    font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

.text__link--color{
  font-size: 1.2rem;
}


                        /* ============CONTACTO 1024px============ */

.map__content--flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

form{
  width: 20vw;
  font-family: roboto, sans-serif;
}

.map__map--flex{
  width: 30vw;
  height: 40vh;
  padding-left: 8rem;
  padding-bottom: 5rem;
}

.map__img--flex{
  width: 20vw;
  padding-left: 6rem;
  padding-bottom: 2rem;
}

}  /* cierre de media queeries 1024 no sacar */

