@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  scroll-behavior: smooth;
}

html,
body{
  max-width: 100%;
  overflow-x: hidden;
}    /* para evitar aparezca sector blanco al lado derecho */

h2, 
h3, 
h4,
h5{
  font-family: oswald, sans-serif;
  font-weight: 600;
}

h2{
  font-size: 2.5rem;
  padding-left: 1.1rem;
}

h3{
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

h4{
  font-size: 1.2rem;
  padding-left: 1.8rem;
}

p{
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  padding: 1rem 15rem 1.5rem 1.7rem;
}

h1{
    font-family:oswald, sans-serif;
    font-weight: 700; 
    font-size: 1.3rem ;
}
nav img{
    width: 21rem;

}

@keyframes nav-animated{
    0%{background: none; width:100vw;}
    2%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 3%, rgba(228,228,228,0.5) 100%); width:100vw;}
    4%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 2%, rgba(87,87,87,0.5) 9%, rgba(228,228,228,0.5) 100%); width:100vw;}
    6%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 3%, rgba(87,87,87,0.5) 14%, rgba(228,228,228,0.5) 100%); width:100vw;}
    8%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 4%, rgba(87,87,87,0.5) 21%, rgba(228,228,228,0.5) 100%); width:100vw;}
    10%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 6%, rgba(87,87,87,0.5) 26%, rgba(228,228,228,0.5) 100%); width:100vw;}
    12%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 7%, rgba(87,87,87,0.5) 31%, rgba(228,228,228,0.5) 100%); width:100vw;}
    14%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 9%, rgba(87,87,87,0.5) 35%, rgba(228,228,228,0.5) 100%); width:100vw;}
    16%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 11%, rgba(87,87,87,0.5) 42%, rgba(228,228,228,0.5) 100%); width:100vw;}
    18%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 13%, rgba(87,87,87,0.5) 47%, rgba(228,228,228,0.5) 100%); width:100vw;}
    20%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 15%, rgba(87,87,87,0.5) 52%, rgba(228,228,228,0.5) 100%); width:100vw;}
    22%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 17%, rgba(87,87,87,0.5) 57%, rgba(228,228,228,0.5) 100%); width:100vw;}
    24%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 19%, rgba(87,87,87,0.5) 64%, rgba(228,228,228,0.5) 100%); width:100vw;}
    26%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 21%, rgba(87,87,87,0.5) 69%, rgba(228,228,228,0.5) 100%); width:100vw;}
    28%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 24%, rgba(87,87,87,0.5) 74%, rgba(228,228,228,0.5) 100%); width:100vw;}
    30%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 27%, rgba(87,87,87,0.5) 79%, rgba(228,228,228,0.5) 100%); width:100vw;}
    31%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 30%, rgba(87,87,87,0.5) 83%, rgba(228,228,228,0.5) 100%); width:100vw;}
    32%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 35%, rgba(87,87,87,0.5) 88%, rgba(228,228,228,0.5) 100%); width:100vw;}
    34%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 39%, rgba(87,87,87,0.5) 91%, rgba(228,228,228,0.5) 100%); width:100vw;}
    36%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 43%, rgba(87,87,87,0.5) 93%, rgba(228,228,228,0.5) 100%); width:100vw;}
    37%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 53%, rgba(87,87,87,0.5) 95%, rgba(228,228,228,0.5) 100%); width:100vw;}
    39%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 64%, rgba(87,87,87,0.5) 97%, rgba(228,228,228,0.5) 100%); width:100vw;}
    41%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 66%, rgba(87,87,87,0.5) 100%, rgba(228,228,228,0.5) 100%); width:100vw;}
    43%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 64%, rgba(87,87,87,0.5) 97%, rgba(228,228,228,0.5) 100%); width:100vw;}
    44%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 53%, rgba(87,87,87,0.5) 95%, rgba(228,228,228,0.5) 100%); width:100vw;}
    45%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 43%, rgba(87,87,87,0.5) 93%, rgba(228,228,228,0.5) 100%); width:100vw;}
    47%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 39%, rgba(87,87,87,0.5) 91%, rgba(228,228,228,0.5) 100%); width:100vw;}
    48%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 35%, rgba(87,87,87,0.5) 88%, rgba(228,228,228,0.5) 100%); width:100vw;}
    50%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 30%, rgba(87,87,87,0.5) 83%, rgba(228,228,228,0.5) 100%); width:100vw;}
    51%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 27%, rgba(87,87,87,0.5) 79%, rgba(228,228,228,0.5) 100%); width:100vw;}
    52%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 24%, rgba(87,87,87,0.5) 74%, rgba(228,228,228,0.5) 100%); width:100vw;}
    54%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 21%, rgba(87,87,87,0.5) 69%, rgba(228,228,228,0.5) 100%); width:100vw;}
    56%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 19%, rgba(87,87,87,0.5) 64%, rgba(228,228,228,0.5) 100%); width:100vw;}
    57%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 17%, rgba(87,87,87,0.5) 57%, rgba(228,228,228,0.5) 100%); width:100vw;}
    59%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 15%, rgba(87,87,87,0.5) 52%, rgba(228,228,228,0.5) 100%); width:100vw;}
    61%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 13%, rgba(87,87,87,0.5) 47%, rgba(228,228,228,0.5) 100%); width:100vw;}
    62%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 11%, rgba(87,87,87,0.5) 42%, rgba(228,228,228,0.5) 100%); width:100vw;}
    64%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 9%, rgba(87,87,87,0.5) 35%, rgba(228,228,228,0.5) 100%); width:100vw;}
    68%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 7%, rgba(87,87,87,0.5) 31%, rgba(228,228,228,0.5) 100%); width:100vw;}
    70%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 6%, rgba(87,87,87,0.5) 26%, rgba(228,228,228,0.5) 100%); width:100vw;}
    72%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 4%, rgba(87,87,87,0.5) 21%, rgba(228,228,228,0.5) 100%); width:100vw;}
    74%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 3%, rgba(87,87,87,0.5) 14%, rgba(228,228,228,0.5) 100%); width:100vw;}
    76%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 2%, rgba(87,87,87,0.5) 10%, rgba(228,228,228,0.5) 100%); width:100vw;}
    78%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 8%, rgba(228,228,228,0.5) 100%); width:100vw;}
    80%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 7%, rgba(228,228,228,0.5) 90%); width:100vw;}
    83%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 5%, rgba(228,228,228,0.5) 80%); width:100vw;}
    86%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 4%, rgba(228,228,228,0.5) 70%); width:100vw;}
    88%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 3%, rgba(228,228,228,0.5) 60%); width:100vw;}
    90%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 2%, rgba(228,228,228,0.5) 50%); width:100vw;}
    92%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 1%, rgba(228,228,228,0.5) 40%); width:100vw;}
    95%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 1%, rgba(228,228,228,0.5) 30%); width:100vw;}
    96%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 0%, rgba(228,228,228,0.5) 20%); width:100vw;}
    98%{background: linear-gradient(150deg, rgba(55,55,55,0.5) 0%, rgba(87,87,87,0.5) 0%, rgba(228,228,228,0.5) 10%); width:100vw;}
    100%{background: none; width:100vw;}
} 
  
.animated{
    animation-name: nav-animated;
    transition-property: background-color;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}
    
                  /* =========MOBILE FIRST========= */
                  /* ========CAMBIOS GRALES======== */

nav{
    background-color: rgb(228, 228, 228);
    }

nav .dark{
        color: rgb(55, 52, 53);
        font-family: oswald, san serif;
        font-weight: 400;
        font-size: 0.9rem;
} 

h2{
  padding-top: 1rem;
  font-size: 1.7rem;
}

.head1{
  height: 10vh;
}


                  /* ===========OBRAS MOBILE========= */

.veintedos__all--bg1{
  background-color: rgb(216, 216, 216);  
  color: rgb(95, 95, 95);
}

.veinteuno__all--bg2{
  background-color: rgb(204, 204, 204);
  color: rgb(144, 144, 144);
}

.veinte__all--bg3{
  background-color: rgb(192, 192, 192);
  color: rgb(156, 156, 156);
}

.dieznueve__all--bg4{
  background-color: rgb(180, 180, 180);
  color: rgb(160, 160, 160);
}

.diezocho__all--bg5{
  background-color: rgb(168, 168, 168);
  color: rgb(190, 190, 190);
}

.diezsiete__all--bg6{
  background-color: rgb(156, 156, 156);
  color:rgb(192, 192, 192);
}

.diezseis__all--bg7 {
  background-color: rgb(144, 144, 144);
  color: rgb(204, 204, 204);
}

.video__all--bg8 {
  background-color: rgb(130, 130, 130);
  color: rgb(216, 216, 216);
}

.boton__galeria--cualidades{
  font-family: oswald, san serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(55, 52, 53);
  margin-bottom: 2rem;
  text-align: center;
}

button .boton__galeria--cualidades{
  
}
                 /* ==============bio MOBILE=========== */

.bio__img--flex{
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 180, 180);
}  

.bio__titulo--locationcolor{
  padding-top: 1rem;
  color: rgb(75, 75, 75);
  font-size: 1.7rem;
}

.bio__text--modif{ 
  color: rgb(75, 75, 75);
  font-size: 1rem;
  line-height: 1.2rem;
  width: 135vw;
}

.bio__img--right{
  height: auto;
  width: 100vw;
}

#cv-titulo-positioncolor{
  padding-top: 1rem;
  color: rgb(195, 195, 195);
  font-size: 1.7rem;
} 


.cv__all--bgdarkplus{
  background-color: rgb(140, 140, 140);
  padding-bottom: 1rem;
}

.cv__all--bgdarkplus p{
  color: rgb(195, 195, 195);
  font-size: 1rem;
  line-height: 1.2em;
  width: 135vw;
  
}


 /* ==============TEXTOS MOBILE=========== */

 h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.5rem;
}
.text__propio--all{
  background-color: rgb(192, 192, 192);
  color: rgb(90, 90, 90);
}

.text__propio--all p{
  font-size: 1rem;
  line-height: 1.2rem;
  width: 80vw;
}

.text__otros--all{
  background-color: rgb(120, 120, 120);
  color: rgb(205, 205, 205);
}

.text__otros--all p{
  font-size: 1rem;
  line-height: 1.2rem;
  width: 80vw;
}

.text__link--color{
  color: rgb(44, 47, 92);
  text-decoration: none;
  font-size: 0.8rem ;
  width: 80vw;
}

.subt__text--block{
  display: block;
}

                /* ===========CONTACTOS MOBILE=========== */
footer h2{
  padding-top: 0.5rem;
  color: rgb(228, 228, 228);
  font-size: 1rem;
}

.pie__icon--size{
  width: 9%;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.pie__all--bglight{
  background-color: rgb(105, 105, 105);
  background-image: url(../assets/imagenes/contacto/transp.png);
}


form{
  font-family: roboto, sans-serif;
}

.color-boton{
  margin-left: 3rem;
  background-color: rgb(250,250,250);
}

.contact__bg--1{
  background-color: rgb(190, 190, 190);
  color: rgb(60, 60, 60);
  line-height: 1.2rem;
}

.map__bg--2{
  background-color: rgb(140, 140, 140);
  color: rgb(95, 95, 95)
}

.color{
background-color: rgb(220, 220, 220);
  color: rgb(50, 50, 50);
}

/* ===agregado porque se quiebra estos puntos== */

@media (max-width: 576px){   

  .header__image--flex{
    display: flex;
    flex-direction: column;
  }

} /* ====cierre media -576px===== */

@media (max-width: 416px){   
nav img{
  width: 14rem;
}
nav h1{
  font-size: 0.8rem;
}
}
@media (max-width: 304px){   
nav img{
  width: 11rem;
}
}

@media (max-width: 288px){   
  nav img{
    width: 7rem;
  }
  
  nav h1{
    font-size: 0.6rem;
  }
  }