@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap');

//font family
$main__font: Roboto, sans-serif;
$title__font: oswald, sans-serif;

//font size
$text__superx--xxs: 0.4rem;
$text__super--xxs: 0.6rem;
$text__xxs: 0.8rem;
$text__xs: 1rem;
$text__s:1.2rem;
$text__md: 1.4rem;
$text__lg: 1.6rem;
$text__xlg: 1.8rem;
$text__xxlg: 1.9rem;


//font weight
$light__font: 400;
$medium__font: 600;
$bold__font: 700;

//line-height
$lineh__xs: 1rem;
$lineh__s: 1.2rem;
$lineh__md: 1.4rem;
$lineh__lg: 1.6rem;