.pie__all--bglight{
    background-color: $footer__color;
    background-image: url(../assets/imagenes/contacto/transp.png);
    footer{
        #redes{
            h2{
                padding-top: 0.5rem;
                color: rgb(228, 228, 228);
                font-size: $text__s;
                @media (min-width: 768px){   
                    font-size: $text__lg;
                }
                @media (min-width: 992px){   
                    font-size: $text__xlg;
                }
            }
        }
        a{
            .icon-size{
                width: 9%;
                @media (min-width: 768px){   
                    width: 5%;
                }
                @media (min-width: 992px){   
                    width: 4%;
                }
            }
        }
        .info__boton--cambios{
            text-decoration: none;
            color:  rgb(2, 2, 2);
            margin-left: 1rem;
            padding: 0.2rem;
            font-family: $main__font;
            background-color:rgba(125, 125, 125, 0.6);
            border-radius: 3px;
            font-size: $text__xs;
            @media (min-width: 768px){   
                font-size: $text__s;
            }  
            @media (min-width: 992px){   
                font-size: $text__md;
            }
        }
    }

}
