
nav{
    .nav__logo--ajuste{
        @media (max-width: 304px){
            width: 8rem;
        } 		
        @media (max-width: 432px){  
            width: 13rem; 	
        }
    }
}


    
.map__flex{
    @media (max-width: 576px){   
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}