//extend boton galería
%boton-caract{
    text-decoration: none;
    font-family: $main__font;
    font-weight: $light__font;
    font-size: $text__xxs;
    margin-bottom: 2rem;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
    @media (min-width:992px){
        font-size: $text__s;
        margin-bottom: 3rem;
    }
}

//extend animaciones galería

%img-left{
    @media (min-width: 768px){
        &:hover{
            transform: translateX(70px) scale(1.5);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}

%img-right{
    @media (min-width: 768px){
        &:hover{
            transform: translateX(-70px) scale(1.5);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}

%imagenes-center{
    @media (min-width: 992px){
        &:hover{
            transform: scale(1.5);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}

%imagenes-left{
    @media (min-width: 992px){
        &:hover{
            transform: translateX(80px) scale(1.5);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}

%imagenes-right{
    @media (min-width: 992px){
        &:hover{
            transform: translateX(-80px) scale(1.5);
            transition: 0.4s;
            cursor: pointer;
        }
    }
}

main{
    section{
        div{
            div{
                .img-left{
                    @extend %img-left;
                }
                .img-right{
                    @extend %img-right;
                }
                .imagenes-center{
                    @extend %imagenes-center;
                }
                .imagenes-left{
                    @extend %imagenes-left;
                }
                .imagenes-right{
                    @extend %imagenes-right;
                }
            }
        }
    }
    .veintedos__all--bg1{
        background-color: rgb(216, 216, 216); 
        a{
            .uno__titulo--caract{
                font-size: $text__s;
                color:map-get($map:$grayscale-font, $key:"uno");
                @media  (min-width: 768px) {
                    padding-top: 1rem;
                    font-size: $text__xlg;
                }
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"uno"); 
            .boton__galeria--cualidades1{
                @extend %boton-caract;
                color: map-get($map: $grayscale-font, $key:"uno");
            }
        }
    }
    .veinteuno__all--bg2{
        background-color: rgb(204, 204, 204);
        a{
            .dos__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"dos");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"dos"); 
            .boton__galeria--cualidades2{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"dos");
            } 
        }
    }
    .veinte__all--bg3{
        background-color: rgb(192, 192, 192);
        a{
            .tres__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"tres");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"tres");
            .boton__galeria--cualidades3{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"tres");
            }
        }
        
    }
    .dieznueve__all--bg4{
        background-color: rgb(180, 180, 180);
        a{
            .cuatro__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"cuatro");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"cuatro"); 
            .boton__galeria--cualidades4{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"cuatro");
            }
        }
    }
    .diezocho__all--bg5{
        background-color: rgb(168, 168, 168);
        a{
            .cinco__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"cinco");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"cinco"); 
            .boton__galeria--cualidades5{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"cinco");
            }
        }
    }
    .diezsiete__all--bg6{
        background-color: rgb(156, 156, 156);
        a{
            .seis__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"seis");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"seis"); 
            .boton__galeria--cualidades6{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"seis");
            }
        }
    }
    .diezseis__all--bg7{
        background-color: rgb(144, 144, 144);
        a{
            .siete__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"siete");
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"siete"); 
            .boton__galeria--cualidades7{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"siete");
            }
        }
    }
    .video__all--bg8{
        background-color: rgb(130, 130, 130);
        a{
            .ocho__titulo--caract{
                @extend .uno__titulo--caract;
                color: map-get($map: $grayscale-font, $key:"ocho");
            }
        }
        .video-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-evenly;
            .video{
                width: 70vw;
                height: 50vh;
                @media (min-width: 768px){  
                    width: 80vw;
                    height: 70vh;
                }
                @media (min-width: 992px){ 
                    width: 70vw;
                    height: 85vh;
                }
            }
        }
        .btn{
            border-color: map-get($map: $grayscale-font, $key:"ocho"); 
            .boton__galeria--cualidades8{
                @extend %boton-caract;
                    color: map-get($map: $grayscale-font, $key:"ocho");
            }
        }
    }
}
























