//fonts

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap');

//font family
$main__font: Roboto, sans-serif;
$title__font: oswald, sans-serif;

//font size
$text__superx--xxs: 0.4rem;
$text__super--xxs: 0.6rem;
$text__xxs: 0.8rem;
$text__xs: 1rem;
$text__paragraph: 1.1rem;
$text__s:1.2rem;
$text__md: 1.4rem;
$text__lg: 1.6rem;
$text__xlg: 1.8rem;
$text__xxlg: 1.9rem;



//font weight
$light__font: 400;
$medium__font: 600;
$bold__font: 700;

//line-height
$lineh__xs: 1rem;
$lineh__s: 1.2rem;
$lineh__md: 1.4rem;
$lineh__lg: 1.6rem;

//main colors
$main__color--nav: rgba(228,228,228,0.5);
$footer__color: rgb(105, 105, 105);


//maps
$grayscale-font:(
    "uno":rgb(95, 95, 95),
    "dos": rgb(125, 125, 125),
    "tres":rgb(135, 135, 135),
    "cuatro":rgb(145, 145, 145),
    "cinco":rgb(200, 200, 200),
    "seis": rgb(210, 210, 210),
    "siete": rgb(220, 220, 220),
    "ocho": rgb(230, 230, 230)
    );


//mixin
@mixin estilo-txt ($font-sz, $line-hg) {
    font-size: $font-sz;
    line-height: $line-hg;
}